# 기상청 API Hub 인증키

KMA_API_KEY=기상청api key 입력

# Base URL 및 엔드포인트

KMA_BASE_URL=https://apihub.kma.go.kr/api/typ01/url  
ENDPOINT_HOURLY=/kma_sfctm3.php  
ENDPOINT_RHM=/sts_rhm.php  
ENDPOINT_TA=/sts_ta.php  
ENDPOINT_SS=/sts_ss.php
